<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/layout/layout.css">
</head>
<body>
    
 <div class="main">
     <div class="header">
         <h1>Trending Techonologies</h1>
     </div>
     <div class="div1 mrg fl col1">Angular</div>
     <div class="div1 mrg fl col2">React</div>
     <div class="div1 mrg fl col3">Node</div>
     <div class="div1 mrg fl col4">VueJJS</div>
     <div class="div1 mrg fl col5">Javascript</div>
     <div class="div2 mrg fr col6">MongoDB</div>
     
</div>

</body>
</html>