<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/layout/layout1.css">
</head>
<body>

     <main>
         <header>
         Header
         </header>
         <nav class="mrg">
             <ul>
                 <li><a href="#">Home</a></li>
                 <li><a href="#">About</a></li>
                 <li><a href="#">Admission</a></li>
                 <li><a href="#">Contact</a></li>
             </ul>
            </nav>
         <section class="banner mrg">
     Image
         </section>
         <section>
             <aside class="div1 fl mrg">LEFT</aside>
             <aside class="div2 fr mrg">Right</aside>
         </section>

         <aside class="div3 mrg fl col1">Angular</aside>
     <aside class="div3 mrg fl col2">React</aside>
     <aside class="div3 mrg fl col3">Node</aside>
     <aside class="div3 mrg fl col4">VueJJS</aside>
     <aside class="div3 mrg fl col5">Javascript</aside>
     <aside class="div4 mrg fr col6">MongoDB</aside>

     

     <footer class="clr footer">
         FOOTER
     </footer>

    </main>
</body>
</html>